* {
    padding: 0;
    margin: 0;
}

.nav {
    display: block;
    font-size: 20px;
    padding: 40px 50px;
}

.module {
    padding: 20px 40px;
}

.module .title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.module .list {
    padding: 0 20px;
}

.module .list .item {
    padding: 5px 0;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed gray;
    box-sizing: content-box;
}
