<!DOCTYPE html>
<html>
    <head>
        <title>Canvas</title>
        <link href="/css/common.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <nav class="nav">
                <a href="/">首页</a>
            </nav>
            <canvas id="canvas" width="600" height="450"></canvas>
        </div>
        <script src="/js/common/utils.js"></script>
        <script src="/js/common/init.js"></script>
        <script src="/js/{{dir}}/{{file}}.js"></script>
    </body>
</html>